@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400, 600, 700;
    font-style: normal;
  }
  
  *{
    margin: 0px;
    padding: 0px;
    font-family: Pretendard;
  }

  .background {
    width: 100vw;
    max-width: 360px;
    height: 100vh;
    max-height: 1024px;
    margin: 0px auto;
    background: #ffffff;
    animation: gradient 15s ease infinite;
  }
  
  .LoginLogo {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .LoginLogoTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .LoginLogoTop svg {
    width: 70px;
    height: 47.002px;
  }
  .LoginLogoTop p{
    color: var(--Colors-main-color, #6869FF);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
  .LoginLogoBtm {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  .LoginLogoBtm p {
    color: var(--Grays-gray900, #212121);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.3px;
  }
  .LoginLogoBtm a {
    padding: 6px 4px;
    align-self: stretch;
    color: var(--Grays-gray900, #212121);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.6px;
    text-decoration-line: underline;
  }

  .inputArea {
    padding: 40px 16px 0 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .inputText {
    color: var(--Grays-gray900, #212121);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.35px;
  }

  .inputBox {
    box-sizing: border-box; 
    /* ****** */
    display: flex;
    width: 100%;
    padding: 14px 12px;
    border: none;
    border-radius: 8px;
    background: #F5F5F5;
  }
  .inputBox::placeholder {
    /* text */
    color: var(--Grays-gray400, #BDBDBD);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.4px;
  }

  .inputArea button {
    margin-top : 28px;
    padding: 16px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    /* style  */
    border-radius: 8px;
    border: none;
    text-decoration: none;
    transition: 0.5s;
  }
  .unactiveBtn {
    background: #CDCBFF;
    
  }
  .activeBtn {
    background: var(--Colors-main-color, #6869FF);
  }

  .inputArea button a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.4px;
  }
  
  #findPasswd {
    margin-top: 16px;
    display: flex;
    padding: 10px 8px;
    align-items: center;
    gap: 10px;
  }

  #findPasswd a {
    margin: auto;
    text-decoration: none;
    color: var(--Grays-gray900, #212121);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.35px;
  }
 
  /*여기부터 모달 스타일*/
  
  .ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #000, 0.7; */
  }
  .ReactModal__Content {
    border: none;
    outline: none;
    padding: 0;
    background: none;
    max-width: 360px;
    max-height: 144px;
    top: 50%;
    left: 50%;
    transform: translate(100%, 100%);
    border-radius: 12px;
    border: none;
  }
  .PassWdMismatch {
    display: flex;
    padding: 36px 16px 16px 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .PassWdMismatch p {
    color: var(--Grays-gray900, #212121);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; 
    letter-spacing: -0.35px;
  }

  .PassWdMismatch button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    /* style */
    border-radius: 8px;
    border: none;
    background: var(--Colors-main-color, #6869FF);  
  }

  .PassWdMismatch button div {
    display: flex;
    padding: 14px 16px;
    align-items: center;
  }
  .PassWdMismatch button div p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.4px;
  }

